/* a {
    text-decoration: none !important;
}

.header-container {
    left: 50px;
    right: 50px; 
    margin-top: 20px;
    margin-bottom: 100px;
}

.home-button {
    padding: 20px;
    color: black;
    background-color: #4285f4;
    font-weight: bold;
    margin-left: 20px;
}

.about-button {
    padding: 20px;
    color: black;
    background-color: #EA4335;
    font-weight: bold;
    margin-left: 20px;
}

.magicball-button {
    color: black;
    background-color: #34A853;
    font-weight: bold;
    padding: 20px;
    margin-left: 20px;
}

.scoreboard-button {
    color: black;
    background-color: #FBBC05;
    font-weight: bold;
    padding: 20px;
    margin-left: 20px;
}

.countdown-button{
    color: black;
    background-color: #4285f4;
    font-weight: bold;
    padding: 20px;
    margin-left: 20px;
}

.password-button {
    color: black;
    background-color: #EA4335;
    font-weight: bold;
    padding: 20px;
    margin-left: 20px;
}

.blackjack-button {
    color: black;
    background-color: #FBBC05;
    font-weight: bold;
    padding: 20px;
    margin-left: 20px;
}

.businesscard-button {
    color: black;
    background-color: #4285f4;
    font-weight: bold;
    padding: 20px;
    margin-left: 20px;
}

.youtube-button {
    color: black;
    background-color: #34A853;
    font-weight: bold;
    padding: 20px;
    margin-left: 20px;
} */